form {
  color: black;
  background-color: white;
  padding: 1em;
  margin: 0em auto;
  width: 20em;
}

#register h1 {
  opacity: 80%;
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

label {
  padding: 1em;
}
label,
input {
  display: block;
}

input {
  border: none;
  border-bottom: 1px solid black;

  color: black;
  background-color: white;

  margin-top: 0.5em;
  width: 100%;

}

input[type=submit] {
  color: white;
  background-color: black;
  
  border: none;
  
  width: auto;
  margin: 1em;
  padding: 1em;
  margin-left: auto;
}