@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  color: rgb(95, 110, 124);
  background-color: #ddd;
  font-family: 'Roboto Slab', serif;
  margin: 1em 1.5em;
}

h1 {
  text-align: center;
}

b {
  color: cornflowerblue;
}

header {
  color: #eee;
  background-color: #333;
  padding: 1em 2em;
}

div {
  background-color: rgb(48, 80, 139);
  color: whitesmoke;

  margin: 0.1em 0;
  font-size: 6em;
  text-align: center;

  border-radius: 0;
  border: none;
}

div>p {
  font-size: 120%;
}

div.button {
  background-color: rgb(83, 118, 182);
}

p {
  margin: 0;
  padding: 0;
}

input[type=password] {
  display: flex;
  justify-content: center;
  width: 80%;
  font-size: 200%;

  padding: 1% 0;
  margin: 2% 10%;

  border: none;
  color: white;
  background-color: rgb(182, 90, 83);
}

input[type=submit],
button {
  display: flex;
  justify-content: center;
  width: 70%;
  font-size: 200%;

  padding: 1%;
  margin: 2% 15%;

  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(83, 182, 124);
}

::-webkit-input-placeholder {
  color: #ffffffbe;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
  background-color: rgb(104, 168, 131);
  transition: all 0.1s linear;
}

button:focus {
  transition: all 0.1s linear;
  transform: scale(0.98);
}

#undo {
  background-color: rgb(226, 83, 83);
}

#undo:hover {
  background-color: rgb(204, 103, 103);
}