@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  color: rgb(95, 110, 124);
  background-color: #ddd;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 20px;
  width: 99.75%;
  margin: auto;
}

header {
  display: flex;
  color: #eee;
  background-color: #333;
  text-align: center;
  height: 15vh;
  vertical-align: middle;
}

h1 {
  text-align: center;
  margin: auto auto auto auto;
}

p {
  margin: 0;
  padding: 0;
}

b {
  color: cornflowerblue;
}


div {
  background-color: rgb(48, 80, 139);
  color: whitesmoke;
  height: 85vh;

  margin: 0 0 1% 0;
  font-size: 50px;
  text-align: center;

  border-radius: 0;
  border: none;
}

div>p {
  font-size: 200%;
}

/* Buttons */
button,
input[type=submit] {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: 80%;

  padding: 1% 0%;
  margin: 0% 25% 1% 25%;
  border-radius: 20px;

  border: none;
  color: white;
  background-color: rgb(40, 160, 90);
}

button:hover,
input[type=submit]:hover {
  cursor: pointer;
  background-color: rgb(86, 204, 135);
  transition: all 0.1s linear;
}

button:focus,
button:active,
input[type=submit]:focus,
input[type=submit]:active {
  transition: all 0.2s ease-in;
  transform: scale(0.99);
  transform: translate(1px, -1px);
}


#undo {
  background-color: rgb(226, 83, 83);
}

#undo:hover {
  background-color: rgb(228, 109, 109);
}

#validate {
  display: flex;
  justify-content: center;

  width: 60%;
  font-size: 80%;

  padding: 1% 0%;
  margin: 0% 20% 0 20%;

  border: none;
  color: white;
  background-color: rgb(26, 155, 80);
}

#validate:hover {
  opacity: 70%;
}

.lowkey {
  width: 10%;
  padding: 0.5em;
  margin: 1em auto 0 auto;
  font-size: 25%;

  background-color: rgb(216, 144, 144);
  border-radius: 10px;
  overflow: hidden;
}

.lowkey.unchecked {
  background-color: transparent;
  border: 1px dotted rgb(190, 100, 100);
}

label,
input[type=checkbox] {
  cursor: pointer;
}

label:hover,
input[type=checkbox]:hover {
  opacity: 90%;
}

/* Password */
input[type=text],
input[type=password] {
  width: 60%;
  font-size: 80%;
  text-align: center;

  padding: 1% 0%;
  margin: 1% 20% 1% 20%;

  border: none;
  color: white;
  background-color: rgb(48, 80, 139);
  border: 1px dotted rgba(169, 224, 206, 0.6);
  border-radius: 20px;
}

::placeholder {
  color: #ffffff88;
  padding-left: 1em;
}