html {
  background-color: #ddddff;
} 

body {
  width: 50em;
  margin: 0 auto;
  padding: 0.5em;

  font-family: Verdana, serif;

  background-color: #ffffff;
}

#header {
  padding: 1em;
  color: white;
  background-color: #666666;
}

#menu ul {
  list-style-type: none;
}